
  $background-primary-header:#E2DCCD;
  $background-secondry-body:#E9E9E9;
  $background-button:#7b9868;
  $background-hover:#d3a67e;
  $background-dark:#193d12;
  $background-filter-jumbo:#e2dccd34;
